body{
    background-color: rgb(253, 251, 251);
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 3em;
    color: white;
}

h2{
    font-size: 2em;
    color: green;
}

p, li{
    font-size: 1.2em;
}

#main{
    line-height: 30px;
}

#cabecalho{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: darkgreen;
}

#minha_foto{
    width: 300px;
    margin-top: 150px;
    border-radius: 10%;
}

table{
    border-collapse: collapse;
    width: 50%;
    line-height: 50%;
}

th, td{
    text-align: left;
    padding: 10px;
    border: 2px solid gray;
}

tr:nth-child(odd){
    background-color: rgb(167, 207, 167);
}

nav{
    display: inline-block;
    position: fixed;
    margin-top: 10px;
    margin-bottom: 5px;
    top: 90px;
    height: 40px;
    width: 100%;
    background-color: rgb(167, 207, 167);

}

a{
  margin-right: 50px;
  color: darkgreen;
}

.lado-esquerdo, .lado-direito{
    display: inline-block;
    text-align: justify;
}

.lado-direito{
    margin-left: 80px;
     width: 300px;
}

.lado-esquerdo{
    width: 700px;
}

