body{
    background-color: rgb(253, 251, 251);
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 3em;
    color: darkgreen;
}

h2{
    font-size: 2em;
    color: green;
}

p, li{
    font-size: 1.2em;
}

#main{
    line-height: 30px;
}

#cabecalho{
    position: fixed;
    top: 0;
}

#minha_foto{
    width: 300px;
    margin-top: 90px;
    border-radius: 10%;
}

table{
    border-collapse: collapse;
    width: 50%;
    line-height: 50%;
}

th, td{
    text-align: left;
    padding: 10px;
    border: 2px solid gray;
}

tr:nth-child(odd){
    background-color: rgb(167, 207, 167);
}